<?xml version="1.0" encoding="UTF-8"?>
<menu
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="../schema/menu.xsd"
  id="BAR_MENU_2026" updated="2026-01-19" currency="PLN">
  <categories>

    <category id="C_BEER" name="Piwo" order="1">
      <items>

        <item id="I_BEER_001" name="Pilsner Urquell" status="available">
          <origin>
            <country>Czechy</country>
          </origin>
          <producer>
            <name>Pilsner Urquell Brewery</name>
          </producer>
          <attributes>
            <abv>4.4</abv>
            <ibu>40</ibu>
            <style>Pilsner</style>
            <color>jasne</color>
          </attributes>
          <notes>Chmielowe, wytrawne, klasyczne.</notes>
          <variants>
            <variant id="V_BEER_001A" serving="draft">
              <size unit="ml">500</size>
              <price>18.00</price>
            </variant>
            <variant id="V_BEER_001B" serving="draft">
              <size unit="ml">300</size>
              <price>12.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_002" name="IPA House" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.2</abv>
            <ibu>55</ibu>
            <style>IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_002A" serving="draft">
              <size unit="ml">500</size>
              <price>22.00</price>
            </variant>
            <variant id="V_BEER_002B" serving="draft">
              <size unit="ml">300</size>
              <price>15.00</price>
            </variant>
          </variants>
        </item>


        <item id="I_BEER_003" name="Żywiec Jasne" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.6</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_003A" serving="bottle">
              <size unit="ml">500</size>
              <price>10.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_004" name="Tyskie Gronie" status="seasonal">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_004A" serving="bottle">
              <size unit="ml">500</size>
              <price>10.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_005" name="Lech Premium" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_005A" serving="bottle">
              <size unit="ml">500</size>
              <price>10.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_006" name="Heineken" status="available">
          <origin>
            <country>Holandia</country>
          </origin>
          <attributes>
            <abv>5.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_006A" serving="bottle">
              <size unit="ml">500</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_007" name="Corona Extra" status="available">
          <origin>
            <country>Meksyk</country>
          </origin>
          <attributes>
            <abv>4.5</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_007A" serving="bottle">
              <size unit="ml">355</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_008" name="Guinness Draught" status="available">
          <origin>
            <country>Irlandia</country>
          </origin>
          <attributes>
            <abv>4.2</abv>
            <style>Stout</style>
            <color>ciemne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_008A" serving="can">
              <size unit="ml">440</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_009" name="Kozel Cerny" status="available">
          <origin>
            <country>Czechy</country>
          </origin>
          <attributes>
            <abv>3.8</abv>
            <style>Dark Lager</style>
            <color>ciemne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_009A" serving="bottle">
              <size unit="ml">500</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_010" name="Paulaner Hefe-Weissbier" status="available">
          <origin>
            <country>Niemcy</country>
          </origin>
          <attributes>
            <abv>5.5</abv>
            <style>Weissbier</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_010A" serving="bottle">
              <size unit="ml">500</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_011" name="Erdinger Weissbier" status="available">
          <origin>
            <country>Niemcy</country>
          </origin>
          <attributes>
            <abv>5.3</abv>
            <style>Weissbier</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_011A" serving="bottle">
              <size unit="ml">500</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_012" name="West Coast IPA" status="available">
          <origin>
            <country>USA</country>
          </origin>
          <attributes>
            <abv>6.8</abv>
            <ibu>60</ibu>
            <style>IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_012A" serving="draft">
              <size unit="ml">500</size>
              <price>24.00</price>
            </variant>
            <variant id="V_BEER_012B" serving="draft">
              <size unit="ml">300</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_013" name="Książęce Złote Pszeniczne" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>4.9</abv>
            <style>Weissbier</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_013A" serving="bottle">
              <size unit="ml">500</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_014" name="Książęce IPA" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.5</abv>
            <ibu>45</ibu>
            <style>IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_014A" serving="bottle">
              <size unit="ml">500</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_015" name="Perła Chmielowa" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_015A" serving="bottle">
              <size unit="ml">500</size>
              <price>11.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_016" name="Komes Porter Bałtycki" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>9.0</abv>
            <style>Porter</style>
            <color>ciemne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_016A" serving="bottle">
              <size unit="ml">500</size>
              <price>19.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_017" name="Komes IPA" status="unavailable">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.5</abv>
            <ibu>55</ibu>
            <style>IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_017A" serving="bottle">
              <size unit="ml">500</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_018" name="Pinta Atak Chmielu" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.1</abv>
            <ibu>58</ibu>
            <style>IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_018A" serving="bottle">
              <size unit="ml">500</size>
              <price>20.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_019" name="Pinta Hazy Discovery" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.5</abv>
            <ibu>35</ibu>
            <style>Hazy IPA</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_019A" serving="can">
              <size unit="ml">500</size>
              <price>22.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_020" name="Budweiser Budvar" status="available">
          <origin>
            <country>Czechy</country>
          </origin>
          <attributes>
            <abv>5.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_020A" serving="bottle">
              <size unit="ml">500</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_021" name="Staropramen" status="available">
          <origin>
            <country>Czechy</country>
          </origin>
          <attributes>
            <abv>5.0</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_021A" serving="bottle">
              <size unit="ml">500</size>
              <price>15.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_022" name="Hoegaarden Witbier" status="available">
          <origin>
            <country>Belgia</country>
          </origin>
          <attributes>
            <abv>4.9</abv>
            <style>Witbier</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_022A" serving="bottle">
              <size unit="ml">330</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_023" name="Desperados" status="seasonal">
          <origin>
            <country>Francja</country>
          </origin>
          <attributes>
            <abv>5.9</abv>
            <style>Flavoured Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_023A" serving="bottle">
              <size unit="ml">400</size>
              <price>17.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_024" name="Kasztelan Niepasteryzowane" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.7</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_024A" serving="bottle">
              <size unit="ml">500</size>
              <price>11.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_025" name="Okocim O.K. Beer" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.6</abv>
            <style>Lager</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_025A" serving="bottle">
              <size unit="ml">500</size>
              <price>10.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_026" name="Somersby Apple Cider" status="available">
          <origin>
            <country>Dania</country>
          </origin>
          <attributes>
            <abv>4.5</abv>
            <style>Cydr</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_026A" serving="bottle">
              <size unit="ml">400</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_027" name="Browar Amber Koźlak" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>6.5</abv>
            <style>Bock</style>
            <color>ciemne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_027A" serving="bottle">
              <size unit="ml">500</size>
              <price>17.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_028" name="Belgian Blonde Ale" status="available">
          <origin>
            <country>Belgia</country>
          </origin>
          <attributes>
            <abv>6.0</abv>
            <style>Blonde Ale</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_028A" serving="draft">
              <size unit="ml">500</size>
              <price>24.00</price>
            </variant>
            <variant id="V_BEER_028B" serving="draft">
              <size unit="ml">300</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_029" name="Hazy Pale Ale" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>5.2</abv>
            <ibu>25</ibu>
            <style>Pale Ale</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_029A" serving="can">
              <size unit="ml">500</size>
              <price>21.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_BEER_030" name="Sour Raspberry" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>4.5</abv>
            <style>Sour</style>
            <color>jasne</color>
          </attributes>
          <variants>
            <variant id="V_BEER_030A" serving="can">
              <size unit="ml">500</size>
              <price>23.00</price>
            </variant>
          </variants>
        </item>


      </items>
    </category>

    <category id="C_WINE" name="Wino" order="2">
      <items>

        <item id="I_WINE_001" name="Sauvignon Blanc" status="available">
          <origin>
            <country>Nowa Zelandia</country>
          </origin>
          <attributes>
            <abv>12.5</abv>
            <year>2022</year>
          </attributes>
          <variants>
            <variant id="V_WINE_001A" serving="glass">
              <size unit="ml">150</size>
              <price>22.00</price>
            </variant>
            <variant id="V_WINE_001B" serving="bottle">
              <size unit="ml">750</size>
              <price>95.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_002" name="Prosecco DOC" status="available">
          <origin>
            <country>Włochy</country>
            <region>Veneto</region>
          </origin>
          <attributes>
            <abv>11.0</abv>
            <year>2023</year>
          </attributes>
          <variants>
            <variant id="V_WINE_002A" serving="glass">
              <size unit="ml">150</size>
              <price>20.00</price>
            </variant>
            <variant id="V_WINE_002B" serving="bottle">
              <size unit="ml">750</size>
              <price>85.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_003" name="Pinot Grigio" status="available">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>12.0</abv>
            <year>2022</year>
          </attributes>
          <variants>
            <variant id="V_WINE_003A" serving="glass">
              <size unit="ml">150</size>
              <price>19.00</price>
            </variant>
            <variant id="V_WINE_003B" serving="bottle">
              <size unit="ml">750</size>
              <price>79.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_004" name="Chardonnay" status="available">
          <origin>
            <country>Francja</country>
          </origin>
          <attributes>
            <abv>13.0</abv>
            <year>2021</year>
          </attributes>
          <variants>
            <variant id="V_WINE_004A" serving="glass">
              <size unit="ml">150</size>
              <price>21.00</price>
            </variant>
            <variant id="V_WINE_004B" serving="bottle">
              <size unit="ml">750</size>
              <price>92.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_005" name="Merlot" status="available">
          <origin>
            <country>Francja</country>
          </origin>
          <attributes>
            <abv>13.5</abv>
            <year>2020</year>
          </attributes>
          <variants>
            <variant id="V_WINE_005A" serving="glass">
              <size unit="ml">150</size>
              <price>21.00</price>
            </variant>
            <variant id="V_WINE_005B" serving="bottle">
              <size unit="ml">750</size>
              <price>95.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_006" name="Malbec" status="available">
          <origin>
            <country>Argentyna</country>
            <region>Mendoza</region>
          </origin>
          <attributes>
            <abv>14.0</abv>
            <year>2021</year>
          </attributes>
          <variants>
            <variant id="V_WINE_006A" serving="glass">
              <size unit="ml">150</size>
              <price>23.00</price>
            </variant>
            <variant id="V_WINE_006B" serving="bottle">
              <size unit="ml">750</size>
              <price>99.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_007" name="Riesling" status="available">
          <origin>
            <country>Niemcy</country>
          </origin>
          <attributes>
            <abv>12.0</abv>
            <year>2022</year>
          </attributes>
          <variants>
            <variant id="V_WINE_007A" serving="glass">
              <size unit="ml">150</size>
              <price>21.00</price>
            </variant>
            <variant id="V_WINE_007B" serving="bottle">
              <size unit="ml">750</size>
              <price>89.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_008" name="Cabernet Sauvignon" status="available">
          <origin>
            <country>Chile</country>
          </origin>
          <attributes>
            <abv>13.5</abv>
            <year>2021</year>
          </attributes>
          <variants>
            <variant id="V_WINE_008A" serving="glass">
              <size unit="ml">150</size>
              <price>22.00</price>
            </variant>
            <variant id="V_WINE_008B" serving="bottle">
              <size unit="ml">750</size>
              <price>95.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_009" name="Primitivo" status="available">
          <origin>
            <country>Włochy</country>
            <region>Puglia</region>
          </origin>
          <attributes>
            <abv>14.0</abv>
            <year>2020</year>
          </attributes>
          <variants>
            <variant id="V_WINE_009A" serving="glass">
              <size unit="ml">150</size>
              <price>23.00</price>
            </variant>
            <variant id="V_WINE_009B" serving="bottle">
              <size unit="ml">750</size>
              <price>99.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_010" name="Cava Brut" status="available">
          <origin>
            <country>Hiszpania</country>
          </origin>
          <attributes>
            <abv>11.5</abv>
            <year>2023</year>
          </attributes>
          <variants>
            <variant id="V_WINE_010A" serving="glass">
              <size unit="ml">150</size>
              <price>20.00</price>
            </variant>
            <variant id="V_WINE_010B" serving="bottle">
              <size unit="ml">750</size>
              <price>82.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_011" name="Rosé Provence" status="available">
          <origin>
            <country>Francja</country>
            <region>Prowansja</region>
          </origin>
          <attributes>
            <abv>12.5</abv>
            <year>2023</year>
          </attributes>
          <variants>
            <variant id="V_WINE_011A" serving="glass">
              <size unit="ml">150</size>
              <price>22.00</price>
            </variant>
            <variant id="V_WINE_011B" serving="bottle">
              <size unit="ml">750</size>
              <price>94.00</price>
            </variant>
          </variants>
        </item>


        <item id="I_WINE_012" name="Tempranillo" status="available">
          <origin>
            <country>Hiszpania</country>
          </origin>
          <attributes>
            <abv>13.5</abv>
            <year>2021</year>
          </attributes>
          <variants>
            <variant id="V_WINE_012A" serving="glass">
              <size unit="ml">150</size>
              <price>22.00</price>
            </variant>
            <variant id="V_WINE_012B" serving="bottle">
              <size unit="ml">750</size>
              <price>92.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_013" name="Syrah" status="available">
          <origin>
            <country>RPA</country>
          </origin>
          <attributes>
            <abv>14.0</abv>
            <year>2020</year>
          </attributes>
          <variants>
            <variant id="V_WINE_013A" serving="glass">
              <size unit="ml">150</size>
              <price>23.00</price>
            </variant>
            <variant id="V_WINE_013B" serving="bottle">
              <size unit="ml">750</size>
              <price>99.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_014" name="Moscato" status="seasonal">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>6.5</abv>
            <year>2023</year>
          </attributes>
          <variants>
            <variant id="V_WINE_014A" serving="glass">
              <size unit="ml">150</size>
              <price>20.00</price>
            </variant>
            <variant id="V_WINE_014B" serving="bottle">
              <size unit="ml">750</size>
              <price>85.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_WINE_015" name="Chianti" status="unavailable">
          <origin>
            <country>Włochy</country>
            <region>Toskania</region>
          </origin>
          <attributes>
            <abv>13.0</abv>
            <year>2021</year>
          </attributes>
          <variants>
            <variant id="V_WINE_015A" serving="glass">
              <size unit="ml">150</size>
              <price>23.00</price>
            </variant>
            <variant id="V_WINE_015B" serving="bottle">
              <size unit="ml">750</size>
              <price>98.00</price>
            </variant>
          </variants>
        </item>


      </items>
    </category>

    <category id="C_VODKA" name="Wódka" order="3">
      <items>

        <item id="I_VODKA_001" name="Żytnia Klasyczna" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>żyto</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_001A" serving="shot">
              <size unit="ml">40</size>
              <price>12.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_002" name="Wódka Ziemniaczana" status="unavailable">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>ziemniaki</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_002A" serving="shot">
              <size unit="ml">40</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_003" name="Wódka Żytnia Premium" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>żyto</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_003A" serving="shot">
              <size unit="ml">40</size>
              <price>15.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_004" name="Wódka Pszeniczna" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>pszenica</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_004A" serving="shot">
              <size unit="ml">40</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_005" name="Wódka Kukurydziana" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>kukurydza</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_005A" serving="shot">
              <size unit="ml">40</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_006" name="Wódka Zbożowa" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>jęczmień</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_006A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_007" name="Wódka Pszenica Smakowa (Cytryna)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>30.0</abv>
            <base>pszenica</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_007A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_008" name="Wódka Żytnia (Chrzan)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>38.0</abv>
            <base>żyto</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_008A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_009" name="Wódka Pszeniczna (Wanilia)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>30.0</abv>
            <base>pszenica</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_009A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_010" name="Wódka Ziemniaczana Premium" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>ziemniaki</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_010A" serving="shot">
              <size unit="ml">40</size>
              <price>16.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_011" name="Wódka Kukurydziana (Miód)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>32.0</abv>
            <base>kukurydza</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_011A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_012" name="Wódka Zbożowa (Pieprz)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>38.0</abv>
            <base>jęczmień</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_012A" serving="shot">
              <size unit="ml">40</size>
              <price>13.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_013" name="Wódka Ziemniaczana (Kremowa)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>ziemniaki</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_013A" serving="shot">
              <size unit="ml">40</size>
              <price>15.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_014" name="Wódka Żytnia (Klasyk)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>żyto</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_014A" serving="shot">
              <size unit="ml">40</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_015" name="Wódka Pszeniczna (Premium)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>pszenica</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_015A" serving="shot">
              <size unit="ml">40</size>
              <price>15.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_VODKA_016" name="Wódka Kukurydziana (Gładka)" status="available">
          <origin>
            <country>Polska</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
            <base>kukurydza</base>
          </attributes>
          <variants>
            <variant id="V_VODKA_016A" serving="shot">
              <size unit="ml">40</size>
              <price>14.00</price>
            </variant>
          </variants>
        </item>


      </items>
    </category>

    <category id="C_SPIRITS" name="Inne mocne" order="4">
      <items>

        <item id="I_SPIRITS_001" name="Whisky Blended" status="available">
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_001A" serving="shot">
              <size unit="ml">40</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_002" name="Whisky Single Malt" status="unavailable">
          <origin>
            <country>Szkocja</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_002A" serving="shot">
              <size unit="ml">40</size>
              <price>26.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_003" name="Gin London Dry" status="available">
          <origin>
            <country>Wielka Brytania</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_003A" serving="shot">
              <size unit="ml">40</size>
              <price>22.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_004" name="Rum Spiced" status="unavailable">
          <origin>
            <country>Karaiby</country>
          </origin>
          <attributes>
            <abv>35.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_004A" serving="shot">
              <size unit="ml">40</size>
              <price>20.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_005" name="Tequila Blanco" status="available">
          <origin>
            <country>Meksyk</country>
          </origin>
          <attributes>
            <abv>38.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_005A" serving="shot">
              <size unit="ml">40</size>
              <price>24.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_006" name="Vermouth Rosso" status="available">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>15.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_006A" serving="glass">
              <size unit="ml">100</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>


        <item id="I_SPIRITS_007" name="Whisky Bourbon" status="available">
          <origin>
            <country>USA</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_007A" serving="shot">
              <size unit="ml">40</size>
              <price>24.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_008" name="Whisky Irish" status="available">
          <origin>
            <country>Irlandia</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_008A" serving="shot">
              <size unit="ml">40</size>
              <price>23.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_009" name="Gin Citrus" status="available">
          <attributes>
            <abv>37.5</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_009A" serving="shot">
              <size unit="ml">40</size>
              <price>21.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_010" name="Rum Dark" status="seasonal">
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_010A" serving="shot">
              <size unit="ml">40</size>
              <price>22.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_011" name="Aperitivo Bitter" status="available">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>25.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_011A" serving="glass">
              <size unit="ml">60</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_012" name="Cognac VS" status="available">
          <origin>
            <country>Francja</country>
          </origin>
          <attributes>
            <abv>40.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_012A" serving="shot">
              <size unit="ml">40</size>
              <price>28.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_013" name="Brandy" status="available">
          <origin>
            <country>Hiszpania</country>
          </origin>
          <attributes>
            <abv>36.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_013A" serving="shot">
              <size unit="ml">40</size>
              <price>22.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_014" name="Limoncello" status="available">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>30.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_014A" serving="shot">
              <size unit="ml">40</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>

        <item id="I_SPIRITS_015" name="Amaretto" status="available">
          <origin>
            <country>Włochy</country>
          </origin>
          <attributes>
            <abv>28.0</abv>
          </attributes>
          <variants>
            <variant id="V_SPIRITS_015A" serving="shot">
              <size unit="ml">40</size>
              <price>18.00</price>
            </variant>
          </variants>
        </item>


      </items>
    </category>

  </categories>
</menu>